<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1050680790057358</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.606408679336-5cf8hs67q5o5rfu4cnqrrqf1tmq14tfr</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1050680790057358</string>
	<key>FacebookClientToken</key>
	<string>70c57b9f4d07ce45ee25362badeb1fe0</string>
	<key>FacebookDisplayName</key>
	<string>To Do Planner</string>
</dict>
</plist>
